html{
  scroll-behavior: smooth;
}

a{
  color: #11999E;
  font-family:'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-top: 6px #EAF6F6 dotted;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p{
  line-height: 2;
}

.bike-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
	background-color:#11CDD4;
	border-radius:8px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:20px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0 1px 0 #263666;
}

.btn:hover {
	background:linear-gradient(to bottom, #30E3CB 5%, #30E3CB 100%);
	background-color:#30E3CB;
}

.btn:active {
	position:relative;
	top:1px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.intro{
  margin: auto;
  width: 30%;
}

.middle-container {
  margin: 100px 0;
}

.pro {
  text-decoration: underline;
}

.profile {
  color: #40514E;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  overflow: hidden;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}
